.body {
  font-size: large;
  padding-left: 16px;
}

.mat-card-actions {
  padding-left: 5px;
}

.todo-card p {
  margin-left: 0px;
  font-size: x-large;
}

.todo-card-status {
  color: greenyellow;
}
